@font-face {
  font-family: Gilroy-ExtraBold;
  src: url('fonts/Gilroy-ExtraBold.otf');
}
@font-face {
  font-family: Gilroy-Light;
  font-weight: bold;
  src: url('fonts/Gilroy-Light.otf');
}

html {
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url(blob-scene-haikei.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

#center-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 5px solid rgb(20, 83, 38);
  border-radius: 100px;
  padding: 2em 6em 1em 6em;
  margin: 2em 4em 2em 4em;
}

h1 {
  align-self: center;
  font-family: 'Gilroy-ExtraBold';
  font-size: 3em;
  letter-spacing: 0.15em;
}

h2 {
  font-size: 1.75em;
  font-weight: 500;
}

p {
  font-family: 'Inconsolata', monospace;
  font-size: 1.5em;
  font-optical-sizing: auto;
}

ul {
  margin: 0;
}

li {
  margin: 1em 1em 1em 1em;
}

hr {
  height: 2px;
  width: 100%;
  background-color: rgb(20, 83, 38);
  margin: 2em 0em 1em 0em;
}

blockquote {
  font-family: 'Inconsolata', monospace;
  font-size: 1.25em;
}

.title-break {
  align-self: center;
  width: 55%;
  height: 5px;
  margin: 0em 0em 0em 0em;
  border-radius: 100%;
}

.center-align {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.l {
  font-size: 2em;
}
